<div class="container">
  <h2>Login Page</h2>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
  <form method="POST" action="/login" autocomplete="off">
    <input type="text" name="username" placeholder="Enter Username" required autocomplete="off">
    <input type="password" name="password" placeholder="Enter Password" required autocomplete="new-password">
    <button type="submit">Login</button>
  </form>
</div>

